.main-container {
  /* max-width: 1500px; */
  margin: auto;
  min-height: 900px;
  background-color: rgb(239, 238, 238);
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-left: 20px;
}

.header > h1 {
  margin: auto;
    margin-top: 30px;
    color: gray;
    font-size: 40px;
    margin-bottom: 30px;
  /* font-size: 24px;
  margin: auto;
  color: rgb(80, 62, 62);
  margin-top: 40px;
  margin-bottom: 40px; */
}

.divider2 {
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 35px;
}

.manage-button {
  color: white;
  background-color: orange;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 30px;
}

.manage-button:hover {
  cursor: pointer;
  background-color: orangered;
}
