.main-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-left: 20px;
}

.header > h1 {
  font-size: 24px;
  margin-left: 0px;
  color: rgb(80, 62, 62);
}

.manage-button {
  color: white;
  background-color: orange;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 30px;
}

.manage-button:hover {
  cursor: pointer;
  background-color: orangered;
}
