.reviews-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.reviews-container > i {
  margin-right: 5px;
  font-size: 12px;
}

.number-stars {
  margin-right: 10px;
  color: grey;
}

.reviews-dot {
  margin-right: 10px;
  font-weight: bold;
  color: grey;
}

.text-new {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 1px;
  color: grey;
}

.review-text {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 1px;
  color: grey;
}

.single-review-container {
  width: 940px;
  word-wrap: break-word;
  margin-bottom: 20px;
  color: rgb(67, 38, 38);
}

.review-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.name-date {
  display: flex;
  flex-direction: column;
}

.name-date > h3 {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name-date > p {
  color: rgb(150, 148, 148);
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-description {
  font-size: 18px;
  margin-top: 11px;
  color: rgb(67, 38, 38);
  margin-top: 7px;
}

.profile-icon {
  width: 38px;
  height: 38px;
}

.review-delete-button {
  margin-top: 10px;
  width: 80px;
  height: 28px;
  font-size: 12px;
  border-radius: 20px;
  border: orange;
  background-color: orange;
}

.review-delete-button:hover {
  color: orange;
  background-color: rgb(250, 232, 232);
  box-shadow: 1px 1px 6px #8f8f8f;
}

.start-one {
  color: white;
}

.post-review {
  background-color: orange;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  height: 30px;
}

.post-review:hover {
  color: orange;
  box-shadow: 1px 1px 6px #8f8f8f;
  background-color: rgb(250, 232, 232);
}
