.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 25px 18px 25px;
    /* background-color: white; */
    padding-bottom: 10px;
}

.Luxe-logo {
    width: 160px;
    height: 60px;
    margin-left: 60px;
    object-fit: contain;
}

.nav-profile {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.new-spot {
    text-decoration: none;
    color: rgb(113, 118, 112);
    font-size: 18px;
    right: 110px;
    top: 30px;
    padding: 7px 12px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.fa-user-circle {
    font-size: 18px;
    color: rgb(113, 118, 112)
}
